<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title---曲线社区卫生服务中心后台管理系统</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>


    @Styles.Render("~/Content/css")

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body class="skin-blue">
    <!-- header logo: style can be found in header.less -->
    @Html.Partial("_HeaderPartial")


    <div class="wrapper row-offcanvas row-offcanvas-left">
        <!-- Left side column. contains the logo and sidebar -->
        @Html.Partial("_MenuPartial")
        <div class="copyrights">Collect from </div>

        <!-- Right side column. Contains the navbar and content of the page -->
        
        @RenderBody()
        <!-- /.right-side -->
    </div>
    
    <!-- ./wrapper -->
    <!-- add new calendar event modal -->
    程序设计 BY <a href="http://www.zzd123.com/" target="_blank" title="赵征">赵征</a>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

   
</html>