 <!---start-header---->
<div class="header">
    <div class="top-header">
        <div class="wrap">
            <div class="top-header-left">
                <p>咨询电话：0451-89898989</p>
            </div>
            <div class="right-left">
                <ul>
                   <!--
                       <li class="login"><a href="#">登陆</a></li>
                    <li class="sign"><a href="#">注册</a></li>

                   --> 
                    <li class="login"><a href="#">加入收藏夹</a></li>
                    <li class="sign"><a href="#">设为主页</a></li>
                </ul>
            </div>
            <div class="clear"> </div>
        </div>
    </div>
    <div class="main-header">
        <div class="wrap">
            <div class="logo">
                <a href="index.html"><img src="/images/logo.png" title="logo" /></a>
            </div>
            <div class="social-links">
                <ul>
                    <li><a href="#"><img src="/images/facebook.png" title="facebook" /></a></li>
                    <li><a href="#"><img src="/images/twitter.png" title="twitter" /></a></li>
                    <li><a href="#"><img src="/images/feed.png" title="Rss" /></a></li>
                    <div class="clear"> </div>
                </ul>
            </div>
            <div class="clear"> </div>
        </div>
    </div>
    <div class="clear"> </div>
    <div class="top-nav">
        <div class="wrap">
            <ul id="qxsqmenu">
                <li>@Html.ActionLink("首页", "Index", "Web")</li>
                <li>@Html.ActionLink("公共卫生服务", "Gonggongweisheng", "Web")</li>
                <li>@Html.ActionLink("医疗服务", "Yiliaofuwu", "Web")</li>
                <li>@Html.ActionLink("自闭症中心", "Zibizheng", "Web")</li>
                <li>@Html.ActionLink("新闻公告", "Xinwengonggao", "Web")</li>
                <li>@Html.ActionLink("关于我们", "Guanyuwomen", "Web")</li>
                <li>@Html.ActionLink("联系我们", "Lianxiwomen", "Web")</li>

                <div class="clear"> </div>
            </ul>
        </div>
    </div>
</div>
<!---End-header---->
